{
   "useTabs": false,
   "tabWidth": 3,
   "singleQuote": false,
   "trailingComma": "es5",
   "semi": false,
   "singleAttributePerLine": false,
   "bracketSpacing": false,
   "bracketSameLine": true,
   "arrowParens": "always",
   "htmlWhitespaceSensitivity": "ignore",
   "printWidth": 80,
   "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
   "pluginSearchDirs": false
}
