---
import {Icon} from "astro-icon/components"
const {extraClass = "max-w-sm"} = Astro.props
---

<div
   x-id="['modal']"
   x-data="{ open: false }"
   x-transition.opacity
   @keydown.escape.window.stop.prevent="$dispatch('modal', {id: $id('modal'), open: false})"
   @modal.window="if ($event.detail.id==$id('modal')) {open = $event.detail.open}">
   <!-- trigger -->
   <span
      class="inline-flex"
      @click="$dispatch('modal', {id: $id('modal'), open: true})"
      :disabled="open">
      <slot name="trigger" />
   </span>

   <template
      x-teleport="body"
      @click="$dispatch('modal', {id: $id('modal'), open: false})">
      <!-- backdrop -->
      <div
         x-cloak
         x-transition.opacity
         class="aui-backdrop"
         x-show.important="open"
         x-trap.inert.noscroll="open">
         <!-- window -->
         <div
            class={extraClass +
               " mx-auto grid w-full aui-paper shadow-2xl shadow-stone-900/20"}
            @click.stop>
            <!-- header -->
            <div class="flex w-full items-center p-2">
               <div class="flex-1 pl-2">
                  <slot name="title" />
               </div>
               <button
                  class="aui-button p-2"
                  @click="$dispatch('modal', {id: $id('modal'), open: false})">
                  <Icon name="ph:x-bold" size={16} class="text-stone-500" />
               </button>
            </div>

            <!-- content -->
            <div class="p-2">
               <slot />
            </div>
         </div>
      </div>
   </template>
</div>
