---
const props = Astro.props
props.class =
"rounded border border-stone-300 bg-white z-40 text-sm shadow-lg shadow-stone-900/10 "
+ (props.class ? props.class : "")
---

<div x-id="['dropdown']" x-data="{ open: false }">
   <span class="inline-flex" x-ref="trigger" @click="open=!open">
      <slot name="trigger" />
   </span>

   <div
      {...props}
      x-anchor.bottom-start.offset.6="$refs.trigger"
      x-cloak
      x-show.important="open"
      x-transition.opacity
      @click.away="open=false"
      @keydown.escape.window.stop.prevent="open=false">
      <slot />
   </div>
</div>
