---
import Layout from '../layouts/Layout.astro'
import fs from 'node:fs'

try {
	fs.accessSync('/tmp/count.txt')
} catch {
	fs.writeFileSync('/tmp/count.txt', '0')
}
const count = fs.readFileSync('/tmp/count.txt', 'utf-8')
---

<Layout title="Welcome to Astro.">
	<div class="grid justify-start gap-8 p-8">
		<h1>hihi</h1>
		<hr />
		<a href="/partials/clicked" x-init x-target="tgt" class="border px-1">click me</a>
		<div id="tgt" class="bg-stone-100 p-2" x-merge.transition>target</div>
		<div>Count: {count}</div>
	</div>
</Layout>
