---
import Layout from "@layouts/Layout.astro"
import {Icon} from "astro-icon/components"
import Link from "@components/aaui/Link.astro"
import Button from "@components/aaui/Button.astro"
import Modal from "@components/aaui/Modal.astro"
import Dropdown from "@components/aaui/Dropdown.astro"
import Accordion from "@components/aaui/Accordion.astro"
import Input from "@components/aaui/Input.astro"
import AccordionItem from "@components/aaui/AccordionItem.astro"
---

<Layout title="Hi hi">
  <div x-init x-data="{}" class="mx-auto grid max-w-2xl gap-4 p-4">
    <!-- ajax -->
    <div class="grid items-stretch gap-4 sm:flex">
      <Button
        href="/partials/clicked/?id=tgt-1"
        x-target="tgt-1"
        class="inline-flex items-center gap-2 px-2 py-1">
        <Icon name="tabler:arrow-right" size={16} class="text-orange-500" />
        load partial 1 from server
      </Button>
      <div id="tgt-1" class="bg-stone-100 px-2 py-1" x-merge.transition>
        target 1
      </div>
    </div>

    <hr />

    <div class="grid items-center gap-4 sm:flex">
      <Modal>
        <div slot="title">Test <b>title</b></div>
        <Button slot="trigger" class="px-2 py-1"> Modal </Button>
        <div class="grid gap-4 p-2">
          <Input type="text" id="1" class="border" autofocus />
          <Input type="text" id="2" class="border" />
          <Input type="text" id="3" class="border" />
          <Modal>
            <div slot="title">Test 2</div>
            <Button slot="trigger" class="px-2 py-1"> Modal 2 </Button>
            <div class="grid gap-4 p-2">zzzzz</div>
          </Modal>
        </div>
      </Modal>
      <Modal is="right">
        <div slot="title">Test <b>title</b></div>
        <Button slot="trigger" class="px-2 py-1"> Modal is right </Button>
        <div class="grid gap-4 p-2">
          <p>zzzz</p>
          <p>zzzz</p>
          <p>zzzz</p>
          <Modal>
            <div slot="title">Test 2</div>
            <Button slot="trigger" class="px-2 py-1"> Modal 2 </Button>
            <div class="grid gap-4 p-2">zzzzz</div>
          </Modal>
        </div>
      </Modal>
      <Modal is="left">
        <div slot="title">Test <b>title</b></div>
        <Button slot="trigger" class="px-2 py-1"> Modal is left </Button>
        <div class="grid gap-4 p-2">
          <p>zzzz</p>
          <p>zzzz</p>
          <p>zzzz</p>
        </div>
      </Modal>
      <Button
        href="/partials/test-modal"
        x-target="teleport"
        x-merge="after"
        class="inline-flex items-center gap-2 px-2 py-1">
        Modal from server
      </Button>
      <Dropdown>
        <Button slot="trigger" class="px-2 py-1">Dropdown</Button>
        <div class="grid gap-1 p-1">
          <Button is="ghost" href="#" class="px-2 py-1"
            >might shake pass hungry vowel</Button
          >
          <Button is="ghost" href="#" class="px-2 py-1"
            >trail alike lying song hung</Button
          >
          <Button is="ghost" href="#" class="px-2 py-1"
            >liquid stone area somebody</Button
          >
          <Button is="ghost" href="#" class="px-2 py-1">
            wire citizen faster buy
          </Button>
          <Button is="ghost" href="#" class="px-2 py-1"
            >statement back largest</Button
          >
          <Button
            href="/partials/clicked/?id=tgt-2"
            x-target="tgt-2"
            class="inline-flex items-center gap-2 px-2 py-1">
            <Icon name="tabler:arrow-right" size={16} class="text-orange-500" />
            load partial 2 from server
          </Button>
          <div id="tgt-2" class="bg-stone-100 px-2 py-1" x-merge.transition>
            target 2
          </div>
        </div>
      </Dropdown>
    </div>

    <hr />

    <div class="grid items-center gap-4 sm:flex">
      <Button class="px-2 py-1">button</Button>
      <Button is="ghost" class="px-2 py-1">is ghost</Button>
      <Button is="primary" class="px-2 py-1">is primary</Button>
      <Button href="/" class="px-2 py-1">a href</Button>
    </div>

    <hr />

    <div class="w-80">
      <Accordion>
        <AccordionItem title="Test <span class='text-orange-500'>Tag</span>"
          >asdasdasdasdas</AccordionItem
        >
        <AccordionItem title="Section 2">aqweqweqweqweqwe</AccordionItem>
      </Accordion>
    </div>
  </div>
</Layout>
