---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<div class="grid gap-8 p-8">
		<h1>hihi</h1>
		<hr>
		<form x-init x-target="tgt" method="post" action="/partials/clicked">
			<button class="px-1 border">click me</button>
		</form>
		<div id="tgt" class="p-2 bg-stone-100">target</div>
	</div>
</Layout>
