---
import Layout from "@layouts/Layout.astro"
import {Icon} from "astro-icon/components"

// import PocketBase from "pocketbase"
// const pb = new PocketBase("http://127.0.0.1:8090")

const auth = Astro.locals.pb.authStore
---

<Layout title="Hi hi">
  <div x-init x-data="{}" class="grid w-full gap-4 p-4">
    auth:
    <pre class="whitespace-pre-wrap border p-4">{JSON.stringify(auth)}</pre>
    auth.isValid:
    <pre
      class="whitespace-pre-wrap border p-4">{JSON.stringify(auth.isValid)}</pre>
  </div>
</Layout>
