---
import Layout from "@layouts/Layout.astro"
import {createWysimark} from "@wysimark/standalone"
---

<Layout title="Hi hi">
  <div x-init x-data="{}" class="grid w-full gap-4 p-4">
    wysimark
    <div id="wysimark"></div>
  </div>
</Layout>
