---
const {extraClass = ""} = Astro.props
---

<div x-id="['dropdown']" x-data="{ open: false }">
   <span class="inline-flex" x-ref="button" @click="open=!open">
      <slot name="trigger" />
   </span>

   <div
      x-anchor.bottom-start.offset.6="$refs.button"
      x-cloak
      x-show="open"
      @keydown.escape.window="open=false"
      x-transition.opacity
      @click.away="open=false"
      class={extraClass + " kPaper z-40 text-sm shadow-lg"}>
      <slot />
   </div>
</div>
