---
import Link from "@components/aaui/Link.astro"
const path = Astro.url.pathname
---

<div class="flex items-center gap-4 bg-white p-4 shadow shadow-stone-500/10">
  <Link
    tabindex="0"
    class={`underline ${path === "/" ? "!bg-pink-100" : ""}`}
    href="/">
    Home
  </Link>
  <Link
    tabindex="0"
    class={`underline ${path === "/test/123" ? "!bg-pink-100" : ""}`}
    href="/test/123">
    Test 123
  </Link>
  <Link
    tabindex="0"
    class={`underline ${path === "/pocketbase" ? "!bg-pink-100" : ""}`}
    href="/pocketbase">
    Pocketbase
  </Link>
</div>
