---
import aauiTheme from "./aauiTheme.js"
const props = Astro.props
props.class = [aauiTheme.accordion, props.class || null]
  .filter(Boolean)
  .join(" ")
---

<div x-data="{ activeAccordion: 0 }">
  <div>
    <button
      @click="activeAccordion = activeAccordion === 0 ? false : 0"
      :class="{ 'text-indigo-600': activeAccordion === 0 }"
      class="underline">
      Accordion 1
    </button>

    <div x-cloak x-collapse x-show="activeAccordion === 0">
      <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
    </div>
  </div>

  <div>
    <button
      @click="activeAccordion = activeAccordion === 1 ? false : 1"
      :class="{ 'text-indigo-600': activeAccordion === 1 }"
      class="underline">
      Accordion 2
    </button>

    <div x-cloak x-collapse x-show="activeAccordion === 1">
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, officia
        maiores.
      </div>
    </div>
  </div>
</div>
