---
import aauiTheme from "./aauiTheme.js"
const props = Astro.props
props.class = [aauiTheme.accordion, props.class || null]
  .filter(Boolean)
  .join(" ")
---

<div x-data="{ activeItem: 0 }">
  <slot />
</div>
