---
import {Theme} from "./Theme.js"
const props = Astro.props
const is = props.is || "default" // default, primary, ghost; see Theme.js
delete props.is
props.class = [
  Theme.button.common,
  is == 'default' && Theme.button.default,
  is == 'primary' && Theme.button.primary,
  is == 'ghost' && Theme.button.ghost,
  props.class || null,
].join(" ")
---

{
  props.href ? (
    <a {...props}>
      <slot />
    </a>
  ) : (
    <button {...props}>
      <slot />
    </button>
  )
}
