---
import {Theme} from "./Theme.js"
const props = Astro.props
const is = props.is || "default" // see Theme.js
delete props.is
props.class = [
  Theme.button.common,
  Theme.button[is],
  props.class || null,
].join(" ")
---

{
  props.href ? (
    <a {...props}>
      <slot />
    </a>
  ) : (
    <button {...props}>
      <slot />
    </button>
  )
}
