---
import aauiTheme from "./aauiTheme.js"
const props = Astro.props
const is = props.is || "default" // default, primary, ghost; see aauiTheme.js
delete props.is
props.class = [
  aauiTheme.button.common,
  is === "default" && aauiTheme.button.default,
  is === "primary" && aauiTheme.button.primary,
  is === "ghost" && aauiTheme.button.ghost,
  props.class || null,
]
  .filter(Boolean)
  .join(" ")
---

{
  props.href ? (
    <a {...props}>
      <slot />
    </a>
  ) : (
    <button {...props}>
      <slot />
    </button>
  )
}
