---
import {Theme, Transitions} from "./Theme.js"
const props = Astro.props
props.class = [Theme.dropdown, "z-40", props.class || ""].join(" ")
---

<div x-id="['dropdown']" x-data="{open: false}">
  <span class="inline-flex" x-ref="trigger" @click="open=!open">
    <slot name="trigger" />
  </span>
  <div
    {...props}
    {...Transitions.dropdown}
    x-anchor.bottom-start.offset.5="$refs.trigger"
    x-cloak
    x-show.important="open"
    @click.away="open=false"
    @keydown.escape.window.stop.prevent="open=false">
    <slot />
  </div>
</div>
