---
import Nav from "../components/Nav.astro"
import "@fontsource-variable/public-sans"
import {ViewTransitions, fade} from "astro:transitions"
const {title} = Astro.props
---

<!doctype html>
<html lang="en" transition:animate={fade({duration: "0.15s"})}>
   <head>
      <meta charset="UTF-8" />
      <meta name="description" content="Astro description" />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="generator" content={Astro.generator} />
      <title>{title}</title>
   </head>
   <ViewTransitions />
   <style is:global>
      html,
      body {
         @apply font-sans antialiased;
         text-rendering: geometricPrecision;
      }
      [disabled] {
         @apply pointer-events-none opacity-60;
      }
      [x-cloak] {
         @apply !hidden;
      }
      ::backdrop {
         @apply bg-stone-500/50;
      }
   </style>

   <body>
      <Nav />
      <slot />
   </body>
</html>
