---
import Nav from "../components/Nav.astro"
import "@fontsource-variable/public-sans"
import {ViewTransitions, fade} from "astro:transitions"
const {title} = Astro.props
---

<!doctype html>
<html lang="en" transition:animate={fade({duration: "150ms"})}>
   <head>
      <meta charset="UTF-8" />
      <meta name="description" content="Astro description" />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="generator" content={Astro.generator} />
      <title>{title}</title>
   </head>
   <ViewTransitions />
   <style is:global>
      /* reset */
      *,
      *::before,
      *::after {
         @apply m-0 box-border outline-none;
      }
      input,
      button,
      textarea,
      select {
         font: inherit;
      }
      
      /* styles */
      *:focus {
         @apply !outline outline-2 outline-orange-500/20 rounded-sm;
      }
      html,
      body {
         @apply font-sans leading-relaxed antialiased;
         text-rendering: geometricPrecision;
      }
      [disabled], .disabled {
         @apply pointer-events-none opacity-60;
      }
      [x-cloak] {
         @apply !hidden;
      }
      ::backdrop {
         @apply bg-stone-500/50;
      }
      .kPaper {
         @apply rounded border border-stone-300 bg-white shadow-stone-900/5;
      }
      .kBackdrop {
         @apply bg-stone-300/30;
      }
      .kButton {
         @apply cursor-pointer rounded-sm border-transparent hover:bg-stone-100;
      }
      .kButton.outline {
         @apply border border-stone-300/60;
      }
   </style>

   <body>
      <Nav />
      <slot />
   </body>
</html>
